<div style="text-align: center;"><p class="p3">Which visual arts high school classes have you already completed?</p></div>

<div class="container">
    <div class="container" style="margin-bottom: 20px;">
        <form>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">6110: Art 1  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">6120: Art 2</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">6130: Art 3 </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">6140: Art 4     </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">6190: Photography 1 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">6200: Photography 2
 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">6210: 3D Sculpture and Design 1   
            </label>
          </div><div class="checkbox">
            <label class="p2"><input type="checkbox" value="">6220: 3D Sculpture and Design 2 

            </label>
          </div><div class="checkbox">
            <label class="p2"><input type="checkbox" value="">6230: 3D Sculpture and Design 3  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">6240: 3D Sculpture and Design 4 </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">6310: Ceramics 1 or Ceramics 2
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">6320: Ceramics 3 or Ceramics 4
                y </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">6440: AP Drawing  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">6450: AP 2D Art and Design 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">7030: B Choir  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">7040: Advanced Treble Choir </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">7060: A Choirs</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">-7070: Vocal Jazz 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">7080: Small Mixed Vocal Ensembles</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">7120: Concert Band</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">7130: Symphonic Band</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">7140: Wind Ensemble</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">7180: Jazz Ensemble</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">7240: Orchestra</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">7250: Chamber Orchestra</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">7320: Music Genesis
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">7350: AP Music Theory</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2810: Dance 1</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">6710: Drama
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">6720: Advanced Drama</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">6730: Advanced Drama Honors</label>
          </div>
          
        </form>
      </div>

    <div style="margin-left: 240px;">

        <a routerLink="/past/applied/acedemics"  class="btn btn-danger" style="margin-right: 10px;"><b>Back</b></a>
        <a routerLink="/past/world/lang"  class="btn btn-danger" style="margin-left: 10px;"><b>Next</b></a>

    </div>
    
    </div>

