<div style="text-align: center;"><p class="p3">Which language high school classes have you already completed?</p></div>

<div class="container">
    <div class="container" style="margin-bottom: 20px;">
        <form>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4010: Japanese 1  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4110: French 1 </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4310: Spanish 1 </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4410: Chinese 1  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4020: Japanese 2
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4120: French 2 
 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4320: Spanish
            </label>
          </div><div class="checkbox">
            <label class="p2"><input type="checkbox" value=""> 4420: Chinese 2 
            </label>
          </div><div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4030: Japanese 3 </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4130: French 3</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4330: Spanish 3    </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4430: Chinese 3   </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4040: Japanese 4 H</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4140: French 4 H  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4340: Spanish 4 H  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value=""> 4440: Chinese 4 H</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4050: AP Japanese Language & Culture</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4150: AP French Language & Culture 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4350: AP Spanish Language &   Culture 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value=""> 4450: AP Chinese Language & Culture 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4324: Spanish for Spanish Speakers (Spanish 2)
 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4334: Spanish for Spanish Speakers (Spanish 3)
 
            </label>
          </div>
          
        </form>
      </div>

    
    </div>

    <div class="divBN" >

      <a routerLink="/past/visual/arts"  class="btn btn-danger" style="margin-right: 10px;"><b>Back</b></a>
      <a routerLink="/past/general/electives"  class="btn btn-danger" style="margin-left: 10px;"><b>Next</b></a>

  </div>

