
        <div style="text-align: center;"><p class="p3">Which history high school classes have you already completed?</p></div>
          
        <div class="container">
            <div class="container" style="margin-bottom: 20px;">
                <form>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1620: World History  </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1730: US History
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1750: AP US History </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1835: Economics 
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1855: AP US Government & Politics    </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1875: AP Macroeconomics  
        
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1760: American Studies
                        
                    </label>
                  </div><div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1770: World Studies/World Core SS
 
                    </label>
                 
                  </div>
                  
                    
        </form>
      </div>

    <div style="margin-left: 200px;">

        <a routerLink='/past/science'  class="btn btn-danger" style="margin-right: 10px;"><b>Back</b></a>
        <a routerLink='/past/applied/acedemics'  class="btn btn-danger" style="margin-left: 10px;"><b>Next</b></a>

    </div>
    
    </div>
