<div class="div1">
    <p class="p3" >Which math high school classes have you already completed?</p>
    
    <div class="container">
        <form>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">Option 1</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">Option 2</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">Option 3</label>
          </div>
        </form>
      </div>
    
    <div>

        <a routerLink="/grad/req/pg"  class="btn btn-danger" style="margin-right: 10px;"><b>Back</b></a>
        <button  class="btn btn-danger" style="margin-left: 10px;"><b>Next</b></button>

    </div>
    
    </div>