.radio1{
    margin-top: 15px;
}

.div1{
    text-align: center;
	justify-content: center;
}

.div2{
    display: flex;
}

.container {
    width: 80%;
    padding-left: 12%;
}

.button2{
    text-align: center;
	justify-content: center;
    margin-top: 40px;
    font-size: 15px;
}

 input[type="checkbox"] {
    margin-right: 5px;
}