<div style="text-align: center;"><p class="p3">Which general elective high school classes have you already completed?</p></div>

<div class="container">
    <div class="container" style="margin-bottom: 20px;">
        <form>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">8290: Leadership  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">8300: Communications in the 21st Century </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">8380: Yearbook     </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value=""> 8400: Engage Tutor </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">8460: AVID Tutor
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value=""> 9080: Bilingual Tutor
 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">9090: Student Tutor
            </label>
          </div><div class="checkbox">
            <label class="p2"><input type="checkbox" value=""> 8410: AVID 9  
            </label>
          </div><div class="checkbox">
            <label class="p2"><input type="checkbox" value="">8420: AVID 10 </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">8430: AVID 11</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">8440:AVID 12    </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value=""> 8450: AVID Senior Seminar   </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">9020: Student Clerk</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">9030: Teacher Assistant </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">, 9040: Food Services Assistant  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value=""> 9050: Lab Assistant</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">9060: Media Assistant</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value=""> 9070: Tech Assistant
            
                
    
                
 
            </label>
          </div>
          
        </form>
      </div>

    <div style="margin-left: 240px;">

        <a routerLink="/past/world/lang"  class="btn btn-danger" style="margin-right: 10px;"><b>Back</b></a>
        <button class="btn btn-danger" style="margin-left: 10px;"><b>Next</b></button>
    
    </div>
    
    </div>
