<div class="div1">
    <p class="p3" >Which English education high school classes have you already completed?</p>
    <div class="container" style="margin-bottom: 10px;">
        <form>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1010: Literature & Writing   </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1020: World Literature & Writing  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1030: Expository Reading & Writing </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1043: Global Literature & Writing 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1060: Academic Reading & Writing   </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2710: 1130: American Literature & Writing
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1140: American Literature & Writing Honors   
            </label>
          </div><div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1180: Voices of Modern Culture 
            </label>
          </div><div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1190: AP English Language & Composition 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1230: Humanities 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1240: British Literature & Writing </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1290: Contemporary Literature & Writing   </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1250: European Literature & Writing 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1260: Story and Style: A Critical Lens 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1300: Mythology/Folklore & Writing   </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1410:AP English Literature & Composition 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1160: American Studies
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1170: World Studies/World Core    
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1420: ELD Level 1A
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1430: ELD Level 1B    
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1430: ELD Level 1C 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1440: ELD Level 2 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1450: ELD Level 3 
            </label>
          </div>
          
        </form>
      </div>

    <div>

        <a routerLink="/past/math"  class="btn btn-danger" style="margin-right: 10px;"><b>Back</b></a>
        <a routerLink="/past/pe"  class="btn btn-danger" style="margin-left: 10px;"><b>Next</b></a>
    </div>
    
    </div>
