<div class="div1">
    <p class="p3" >Which Physical education high school classes have you already completed?</p>
    <div class="container" style="margin-bottom: 10px;">
        <form>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2510: PE 9  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2530: PE 10-12  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2560: PE Soccer </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2620: PE Elective </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2670: PE Basketball    </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2710: PE Bowling 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2720: PE Racquet Sports  
            </label>
          </div><div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2740: PE Weight Training </label>
          </div><div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2770: PE Martial Arts   </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2780: PE Total Fitness </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2525: PE 9 Band </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2545: PE 10 Band  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2590: PE Athletics  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2590: PE Athletics (participation form required)   </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2640: PE Dance   </label>
          </div>
          
        </form>
      </div>

    <div>

        <a routerLink='/past/english'  class="btn btn-danger" style="margin-right: 10px;"><b>Back</b></a>
        <a routerLink='/past/science'  class="btn btn-danger" style="margin-left: 10px;"><b>Next</b></a>

    </div>
    
    </div>

