/* You can add global styles to this file, and also import other style files */

.p2{
    font-family: "acumin-pro-semi-condensed", sans-serif;
    color: #8b0e05;
    font-size: 20px;
}

.p3{
    margin-top:20px;
    font-family: "acumin-pro-semi-condensed", sans-serif;
    color: #8b0e05;
    font-size: 30px;
    font-weight: bold;
}

.btn-danger{
    background-color: #8b0e05;
}