<div style="text-align: center;"><p class="p3">Which applied academics high school classes have you already completed?</p></div>


<div class="container">
    <div class="container" style="margin-bottom: 20px;">
        <form>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2350: AP Computer Science A  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2370: Computer Programming Java </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">7810: Digital Innovation & Design </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">7820: AP Computer Science Principles  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1350: Writing for Publication 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">1360: Journalism 
 
            </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">5110: Introduction to Woodworking
            </label>
          </div><div class="checkbox">
            <label class="p2"><input type="checkbox" value="">5120: Advanced Woodworking 
            </label>
          </div><div class="checkbox">
            <label class="p2"><input type="checkbox" value="">2420:4570: International Business  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4580: Principles of Business</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">8150: Introduction to Engineering and Alternative Energy </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">8160: Environmental Engineering and Sustainability </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">5710: Introduction to Culinary Careers: Foods and Nutrition </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">7760:  Culinary Careers  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">7765:Culinary Careers 2: Hospitality & Management  </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">4850:Law </label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">7730: Training for Transitions</label>
          </div>
          <div class="checkbox">
            <label class="p2"><input type="checkbox" value="">8040: Work Experience  
            </label>
          </div>
          
        </form>
      </div>

    <div style="margin-left: 200px;">

        <a routerLink="/past/history"  class="btn btn-danger" style="margin-right: 10px;"><b>Back</b></a>
        <a routerLink="/past/visual/arts"  class="btn btn-danger" style="margin-left: 10px;"><b>Next</b></a>

    </div>
    
    </div>
