<div style="text-align: center;"><p class="p3">Select the high school classes have you already completed</p></div>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Math
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container">
          <div class="container">
              <form>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2210: Algebra 1 </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2210: Algebra 1 with Algebra Workshop </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2230: Geometry </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2240: Geometry Enriched  </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2310: Algebra 2  </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2320: Algebra 2/Trigonometry 
                  </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2390: Pre-Calculus 
                  </label>
                </div><div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2410: Applications of Advanced Mathematics</label>
                </div><div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2420: Pre-Calculus Honors  </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2430: AP Calculus AB </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2440: AP Calculus BC </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2460: AP Statistics  </label>
                </div>
                
              </form>
            </div>
          </div>
      </div>
    </div>
    
    <dd></dd>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          English
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="container">
            <div class="container">
                <form>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1010: Literature & Writing   </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1020: World Literature & Writing  </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1030: Expository Reading & Writing </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1043: Global Literature & Writing 
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1060: Academic Reading & Writing   </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">2710: 1130: American Literature & Writing
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1140: American Literature & Writing Honors   
                    </label>
                  </div><div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1180: Voices of Modern Culture 
                    </label>
                  </div><div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1190: AP English Language & Composition 
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1230: Humanities 
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1240: British Literature & Writing </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1290: Contemporary Literature & Writing   </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1250: European Literature & Writing 
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1260: Story and Style: A Critical Lens 
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1300: Mythology/Folklore & Writing   </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1410:AP English Literature & Composition 
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1160: American Studies
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1170: World Studies/World Core    
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1420: ELD Level 1A
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1430: ELD Level 1B    
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1430: ELD Level 1C 
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1440: ELD Level 2 
                    </label>
                  </div>
                  <div class="checkbox">
                    <label class="p2"><input type="checkbox" value="">1450: ELD Level 3 
                    </label>
                  </div>
                </form>
              </div>
            </div>
        </div>
      </div>

  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        Physical Education
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container">
          <div class="container">
              <form>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2510: PE 9  </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2530: PE 10-12  </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2560: PE Soccer </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2620: PE Elective </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2670: PE Basketball    </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2710: PE Bowling 
                  </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2720: PE Racquet Sports  
                  </label>
                </div><div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2740: PE Weight Training </label>
                </div><div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2770: PE Martial Arts   </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2780: PE Total Fitness </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2525: PE 9 Band </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2545: PE 10 Band  </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2590: PE Athletics  </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2590: PE Athletics (participation form required)   </label>
                </div>
                <div class="checkbox">
                  <label class="p2"><input type="checkbox" value="">2640: PE Dance   </label>
                </div>
              </form>
            </div>
          </div>
      </div>
    </div>

</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="headingFour">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
      Science
    </button>
  </h2>
  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <div class="container">
        <div class="container">
            <form>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">3110: Biology  </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">3120: AP Biology 
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">3130: Physiology </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">3610: Chemistry 
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">3620: Chemistry Honors    </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">3630: AP Chemistry  
    
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">3710: Physics 
                    
                </label>
              </div><div class="checkbox">
                <label class="p2"><input type="checkbox" value="">3720: Physics Honors 
                </label>
              </div><div class="checkbox">
                <label class="p2"><input type="checkbox" value="">3730: AP Physics C: Mechanics   </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">3735: AP Physics C: Mechanics and Electricity/ Magnetism </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">3750: AP Physics 1: Algebra-based </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">3810: Environmental Science 
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">3840: AP Environmental Science 
                </label>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>

</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="headingFive">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
      Social Science/History
    </button>
  </h2>
  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <div class="container">
        <div class="container">
            <form>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">1620: World History  </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">1730: US History
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">1750: AP US History </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">1835: Economics 
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">1855: AP US Government & Politics    </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">1875: AP Macroeconomics  
    
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">1760: American Studies
                    
                </label>
              </div><div class="checkbox">
                <label class="p2"><input type="checkbox" value="">1770: World Studies/World Core SS

                </label>
             
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>

</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="headingSix">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
      Electives - Applied Academics
    </button>
  </h2>
  <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <div class="container">
        <div class="container">
            <form>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">2350: AP Computer Science A  </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">2370: Computer Programming Java </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">7810: Digital Innovation & Design </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">7820: AP Computer Science Principles  </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">1350: Writing for Publication 
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">1360: Journalism 
     
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">5110: Introduction to Woodworking
                </label>
              </div><div class="checkbox">
                <label class="p2"><input type="checkbox" value="">5120: Advanced Woodworking 
                </label>
              </div><div class="checkbox">
                <label class="p2"><input type="checkbox" value="">2420:4570: International Business  </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4580: Principles of Business</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">8150: Introduction to Engineering and Alternative Energy </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">8160: Environmental Engineering and Sustainability </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">5710: Introduction to Culinary Careers: Foods and Nutrition </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">7760:  Culinary Careers  </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">7765:Culinary Careers 2: Hospitality & Management  </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4850:Law </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">7730: Training for Transitions</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">8040: Work Experience  
                </label>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>

</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="headingSeven">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
      Electives - Visual And Performing Arts
    </button>
  </h2>
  <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <div class="container">
        <div class="container">
            <form>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">6110: Art 1  </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">6120: Art 2</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">6130: Art 3 </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">6140: Art 4     </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">6190: Photography 1 
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">6200: Photography 2
     
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">6210: 3D Sculpture and Design 1   
                </label>
              </div><div class="checkbox">
                <label class="p2"><input type="checkbox" value="">6220: 3D Sculpture and Design 2 
    
                </label>
              </div><div class="checkbox">
                <label class="p2"><input type="checkbox" value="">6230: 3D Sculpture and Design 3  </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">6240: 3D Sculpture and Design 4 </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">6310: Ceramics 1 or Ceramics 2
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">6320: Ceramics 3 or Ceramics 4
                    y </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">6440: AP Drawing  </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">6450: AP 2D Art and Design 
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">7030: B Choir  </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">7040: Advanced Treble Choir </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">7060: A Choirs</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">-7070: Vocal Jazz 
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">7080: Small Mixed Vocal Ensembles</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">7120: Concert Band</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">7130: Symphonic Band</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">7140: Wind Ensemble</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">7180: Jazz Ensemble</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">7240: Orchestra</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">7250: Chamber Orchestra</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">7320: Music Genesis
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">7350: AP Music Theory</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">2810: Dance 1</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">6710: Drama
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">6720: Advanced Drama</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">6730: Advanced Drama Honors</label>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>

</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="headingEight">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
      Elective - World Languages
    </button>
  </h2>
  <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <div class="container">
        <div class="container">
            <form>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4010: Japanese 1  </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4110: French 1 </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4310: Spanish 1 </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4410: Chinese 1  </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4020: Japanese 2
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4120: French 2 
     
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4320: Spanish
                </label>
              </div><div class="checkbox">
                <label class="p2"><input type="checkbox" value=""> 4420: Chinese 2 
                </label>
              </div><div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4030: Japanese 3 </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4130: French 3</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4330: Spanish 3    </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4430: Chinese 3   </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4040: Japanese 4 H</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4140: French 4 H  </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4340: Spanish 4 H  </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value=""> 4440: Chinese 4 H</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4050: AP Japanese Language & Culture</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4150: AP French Language & Culture 
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4350: AP Spanish Language &   Culture 
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value=""> 4450: AP Chinese Language & Culture 
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4324: Spanish for Spanish Speakers (Spanish 2)
     
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">4334: Spanish for Spanish Speakers (Spanish 3)
     
                </label>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>

</div>

<div class="accordion-item">
  <h2 class="accordion-header" id="headingNine">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
      General Electives
    </button>
  </h2>
  <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      <div class="container">
        <div class="container">
            <form>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">8290: Leadership  </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">8300: Communications in the 21st Century </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">8380: Yearbook     </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value=""> 8400: Engage Tutor </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">8460: AVID Tutor
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value=""> 9080: Bilingual Tutor
     
                </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">9090: Student Tutor
                </label>
              </div><div class="checkbox">
                <label class="p2"><input type="checkbox" value=""> 8410: AVID 9  
                </label>
              </div><div class="checkbox">
                <label class="p2"><input type="checkbox" value="">8420: AVID 10 </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">8430: AVID 11</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">8440:AVID 12    </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value=""> 8450: AVID Senior Seminar   </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">9020: Student Clerk</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">9030: Teacher Assistant </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">9040: Food Services Assistant  </label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value=""> 9050: Lab Assistant</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value="">9060: Media Assistant</label>
              </div>
              <div class="checkbox">
                <label class="p2"><input type="checkbox" value=""> 9070: Tech Assistant
                
                    
        
                    
     
                </label>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>

</div>

    <div style="margin-left: 200px;">

      <a routerLink="/grad/req/pg"  class="btn btn-danger" style="margin-right: 10px;"><b>Back</b></a>
      <button class="btn btn-danger" style="margin-left: 10px;"><b>Next</b></button>
      
  </div>