
<div class="div1">
    <p class="p3" >What type of graduation are you looking to complete?</p>
    
    <input type="radio" class="radio1" id="html" name="fav_language" value="HTML">
    <label class="p2" for="html">FUHSD Graduation</label><br>
    
    <input type="radio" class="radio1" id="html" name="fav_language" value="HTML">
    <label class="p2" for="html">Graduation With UC/CSU A-G Requirements</label><br>
    
    <input type="radio" class="radio1" id="html" name="fav_language" value="HTML">
    <label class="p2" for="html">Both</label><br>
    <!--a routerLink="/grad/info/pic"  class="button">What are each of the requirements</a-->
    <button class="btn btn-danger" style="margin: 10px 10px;"><b>What are each of the requirements</b></button>
    
    <div>

        <a routerLink="/grade/pg"  class="btn btn-danger" style="margin-right: 10px;"><b>Back</b></a>
        <a routerLink="/past1"  class="btn btn-danger" style="margin-left: 10px;"><b>Next</b></a>

    </div>
    
    </div>